.mt-body {
  padding-top: .3rem;
  padding-bottom: .3rem;
}
.group {
  margin-bottom: .2rem;
  padding-top: .3rem;
  background-color: white;
}
.group .group-header {
  margin-bottom: .1rem;
  color: #999999;
  font-size: .28rem;
  line-height: .4rem;
  padding-left: .3rem;
}
.group .group-body_pad3 {
  padding-left: .3rem;
}
.mtui-tabs {
  display: flex;
}
.mtui-tabs .mtui-tab {
  font-size: .26rem;
}
.mtui-tabs .mtui-tab .mtui-tab_text {
  padding-right: .15rem;
  padding-left: .15rem;
  line-height: .82rem;
  height: .82rem;
  display: inline-block;
  border-bottom: .06rem solid transparent;
}
.mtui-tabs .mtui-tab.active {
  color: #4A87D6;
}
.mtui-tabs .mtui-tab.active .mtui-tab_text {
  border-bottom: 0.06rem solid #4A87D6;
}
.mtui-tabs .mtui-tab {
  flex: 1;
  text-align: center;
}
.mtui-tabs.overflow {
  display: block;
  width: 100%;
  position: relative;
}
.mtui-tabs.overflow .mtui-tabs_list {
  width: 6.62rem;
  overflow-x: scroll;
  position: relative;
  padding-bottom: .06rem;
}
.mtui-tabs.overflow .mtui-tabs_list .mtui-tab_title {
  line-height: .81rem;
  font-size: .28rem;
  padding-left: .3rem;
  display: none;
  border-bottom: 1px solid #E5E5E5;
}
.mtui-tabs.overflow .mtui-tabs_list .mtui-tab_box {
  overflow: hidden;
  width: 10.5rem;
}
.mtui-tabs.overflow .mtui-tabs_list .mtui-tab_box .mtui-tab {
  width: 1.5rem;
  float: left;
  line-height: .82rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.mtui-tabs.overflow .mtui-tab_line {
  position: absolute;
  left: .15rem;
  height: .06rem;
  width: 1.2rem;
  background-color: #4A87D6;
  transition: left 0.3s cubic-bezier(0.69, -0.39, 0.45, 1.41);
}
.mtui-tabs.overflow .mtui-tab_acbox {
  width: 1.88rem;
  height: .88rem;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}
.mtui-tabs.overflow .mtui-tab_action {
  width: .88rem;
  height: .88rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  box-shadow: -0.06rem 0 0.4rem #E5E5E5;
}
.mtui-tabs.overflow input {
  display: none;
}
.mtui-tabs.overflow input + .mtui-tab_arrow {
  transition: all .3s;
  transform: rotate(0deg);
  display: block;
  width: .88rem;
  height: .88rem;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: .88rem;
  z-index: 99;
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow {
  transform: rotate(180deg);
}
.mtui-tabs.overflow input + .mtui-tab_arrow:after {
  display: inline-block;
  height: 0.14rem;
  width: 0.14rem;
  border-width: 0.02rem 0.02rem 0 0;
  border-color: #666;
  border-style: solid;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: relative;
  top: -3px;
  content: " ";
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow + .mtui-tabs_list {
  width: 7.5rem;
  overflow: visible;
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow + .mtui-tabs_list .mtui-tab_box {
  width: auto !important;
  position: absolute;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: .2rem;
  background-color: white;
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow + .mtui-tabs_list .mtui-tab {
  line-height: .64rem;
  background-color: #f8f8f8;
  border-radius: .64rem;
  margin: .2rem .1875rem 0;
  border: 1px solid #F8F8F8;
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow + .mtui-tabs_list .mtui-tab.active {
  background-color: transparent;
  border: 1px solid #4A87D6;
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow + .mtui-tabs_list .mtui-tab_title {
  display: block;
}
.mtui-tabs.overflow input:checked + .mtui-tab_arrow + .mtui-tabs_list .mtui-tab_line {
  display: none;
}
