@import "../../base/fn";

.mtui-btn__disabled {
    &.mtui-btn__default {
        color:@mtuiBtnDefaultDisabledFontColor;
        background-color: @mtuiBtnDefaultDisabledBg;
    }
    &.mtui-btn__primary {
        background-color: @mtuiBtnPrimaryDisabledBg;
    }
    &.mtui-btn__warn {
        background-color: @mtuiBtnwarnDisabledBg;
    }
    &.mtui-btn__out{
      background-color: @mtuiBtnDefaultBg;
      color:rgba(51, 51, 51, .2);
      &:after{
        border-color:rgba(51, 51, 51, .2);
      }
    }
}
