.mt-body {
  padding-top: .3rem;
  padding-bottom: .3rem;
}
.group {
  margin-bottom: .2rem;
  padding-top: .3rem;
  background-color: white;
}
.group .group-header {
  margin-bottom: .1rem;
  color: #999999;
  font-size: .28rem;
  line-height: .4rem;
  padding-left: .3rem;
}
.group .group-body_pad3 {
  padding-left: .3rem;
}
.mtui-popover {
  display: none;
  position: fixed;
  color: #666;
}
.mtui-popover .mtui-mask {
  opacity: 0;
  transition: all .3s;
  background: black;
}
.mtui-popover.active .mtui-mask {
  opacity: .6;
}
.mtui-popover .popover {
  position: relative;
  z-index: 1003;
  opacity: 0;
  transition: all .3s;
}
.mtui-popover .popover-triangle {
  position: absolute;
  z-index: 1001;
}
.mtui-popover .popover-triangle span {
  display: inline-block;
  height: 14px;
  width: 14px;
  border-width: 2px 2px 0 0;
  border-color: white;
  border-style: solid;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  border: 0;
  background-color: white;
  border-radius: 4px;
}
.mtui-popover .popover-lists {
  background-color: white;
  border-radius: 4px;
  z-index: 1002;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
}
.mtui-popover .popover-lists .popover-list {
  line-height: 40px;
  font-size: 14px;
  min-width: 80px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: block;
}
.mtui-popover .popover-lists .popover-list::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.01rem;
  border-bottom: 0.01rem solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
  width: 80%;
  left: 10%;
}
.mtui-popover .popover-lists .popover-list:last-child:after {
  border: 0;
}
.mtui-popover .popover-lists .popover-list:active {
  background-color: #DEDEDE;
}
.mtui-popover.top.active .popover {
  opacity: 1;
  top: 0;
}
.mtui-popover.top .popover {
  transform: translateX(-50%);
  top: 20px;
}
.mtui-popover.top .popover-triangle {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mtui-popover.top .popover-lists {
  top: -9px;
}
.mtui-popover.bottom.active .popover {
  opacity: 1;
  top: 0;
}
.mtui-popover.bottom .popover {
  transform: translateX(-50%);
  top: -20px;
}
.mtui-popover.bottom .popover-triangle {
  left: 50%;
  transform: translateX(-50%);
}
.mtui-popover.bottom .popover-lists {
  top: 8px;
}
.mtui-popover.right.active .popover {
  opacity: 1;
  left: 0;
}
.mtui-popover.right .popover {
  transform: translateY(-50%);
  left: -20px;
}
.mtui-popover.right .popover-triangle {
  top: 50%;
  transform: translateY(-50%);
}
.mtui-popover.right .popover-lists {
  left: 5px;
}
.mtui-popover.left.active .popover {
  opacity: 1;
  left: 0;
}
.mtui-popover.left .popover {
  transform: translateY(-50%);
  left: 20px;
}
.mtui-popover.left .popover-triangle {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mtui-popover.left .popover-lists {
  left: -5px;
}
