

// font
@mtuiFontEN:-apple-system-font,"Helvetica Neue";
@mtuiFontCN:'PT Mono', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
@mtuiFontSans:sans-serif;
@mtuiFontDefault:@mtuiFontEN,@mtuiFontSans,@mtuiFontCN;

// mtui project config
// 配置样式参数

//演示项目通用样式
.mt-body{padding-top: .3rem; padding-bottom: .3rem;}
.group{margin-bottom: .2rem; background-color: white;
    .group-header{margin-bottom: .1rem; color: @mtuiTextColorGray; font-size: .28rem; line-height: .4rem; padding-left: .3rem;}
    .group-body_pad3{padding-left: .3rem;}
}

// grid 九宫格 样式参数
@mtuiGridBorderColor:#E5E5E5;       //边框颜色
@mtuiGridFontSize: .24rem;            //字体大小
@mtuiGridIconSize: .64rem;            //icon大小
@mtuiGridColumnCount: 4;              //九宫格一行个数

// mtui switch 开关
@mtuiSwitchHeight: 32px;
@mtuiCellHeight: 45px;

// Dialog
@mtuiDialogBackgroundColor: #FFFFFF;
@mtuiDialogLineColor: #D5D5D6;
@mtuiDialogLinkColor: #3CC51F;
@mtuiDialogLinkActiveBc: #EEEEEE;
@mtuiDialogGapWidth: 1.6em;

//searchbar gont
@mtuiSearchBarFontSize:.28rem;
